.container {
  max-width: var(--max-width);

  margin: auto;
  padding: 1.25rem;
}

.search-input {
  padding: 0.625rem;
  margin: 2.5rem 0;

  border: 0.0625rem solid #ccc;
  border-radius: 0.25rem;

  &:focus {
    border-color: #007bff;
    outline: none;
  }
}

.user-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15.625rem, 1fr));
  gap: 1.25rem;
}

.user-card {
  background-color: #f9f9f9;

  border: 0.0625rem solid #ddd;
  border-radius: 0.5rem;
  padding: 0.9375rem;

  transition: transform 0.2s;

  &:hover {
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.loading,
.error,
.no-data {
  text-align: center;
  margin-top: 1.25rem;
}

.loading {
  color: var(--loading-color);
}

.error {
  color: var(--error-color);
}

.no-data {
  color: var(--no-data-color);
}
